{deps,
  [
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {eutils, ".*", {git, "https://github.com/sergebond/eutils.git", {branch, "master"}}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "0.8.6"}}},
    {evalidate, ".*", {git, "https://github.com/sergebond/evalidate.git", {branch, "master"}}}
  ]
}.

{deps_dir, ["deps"]}.
{erl_opts, [inline, {src_dirs, ["src"]}, {i, "deps"}, {i, ".."}, {d,  multi_logger, true}, {parse_transform, lager_transform}, {lager_truncation_size, 10240} ]}.
